NEXT_PUBLIC_KIBANA_URL=https://ai-assistants-ffcafb.kb.us-east-1.aws.elastic.cloud
NEXT_PUBLIC_APP_URL=https://cisco-search-jina.vercel.app
NEXT_PUBLIC_INSTRUQT_INVITE=https://play.instruqt.com/elastic/invite/rjz8vgi2xlfq
